| Campaign Name: 

= link_to @contribution.campaign.name, "http://www.grasruts.com/#{@contribution.campaign.uri}"

br

| Amount: 

= @contribution.amount

br

| Contributed by: 

= @contribution.user.email

br

| Gateway: 

= @contribution.gateway

br

| Status: 

= @contribution.state
