| Campaign Name: 

= link_to @payment.contribution.campaign.name, "http://www.grasruts.com/#{@payment.contribution.campaign.uri}"

br

| Amount: 

= @payment.amount

br

| Contributed by: 

= @payment.user.email

br

| Gateway: 

= @payment.contribution.gateway

br

| Status: 

= @payment.state
